resources:
- name: {{ env["name"] }}
  type: compute.v1.firewall
  properties:
    network: projects/{{ properties["projectName"] }}/global/networks/default
    sourceRanges: ["0.0.0.0/0"]
    targetTags: {{ properties["targetTags"] }}
    allowed:
    - IPProtocol: {{ properties["IPProtocol"] }}
      ports: {{ properties["Port"] }}