resources:
- type: gcp-types/compute-v1:httpHealthChecks
  name: health-check-{{ env["name"] }}
  properties:
    port: 80
    requestPath: /

- type: gcp-types/compute-v1:backendServices
  name: lb-{{ env["name"] }}
  properties:
    healthChecks:
      - $(ref.health-check-{{ env["name"] }}.selfLink)
    port: 80
    portName: http
    protocol: HTTP
    backends:
    - name: lb-backend-{{ env["name"] }}
      balancingMode: UTILIZATION
      group: zones/us-central1-a/instanceGroups/{{ properties["instanceGroups"] }}

  - name: apache-url-map
    type: compute.v1.urlMap
    properties:
      defaultService: $(ref.lb-{{ env["name"] }}.selfLink)

  - name: apache-http-proxy
    type: compute.v1.targetHttpProxy
    properties:
      urlMap: $(ref.apache-url-map.selfLink)

  - name: apache-ipaddress
    type: compute.v1.globalAddress

  - name: apache-http-forwardingrule
    type: compute.v1.globalForwardingRule
    properties:
      target: $(ref.apache-http-proxy.selfLink)
      IPAddress: $(ref.apache-ipaddress.address)
      IPProtocol: TCP
      portRange: 80-80