resources:
- name: {{ env["name"] }}
  type: compute.v1.instanceGroupManagers
  properties:
    baseInstanceName: {{ properties["baseInstanceName"] }}
    instanceTemplate: {{ properties["instanceTemplate"] }}
    targetSize: {{ properties["targetSize"] }}